@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 bg-[#e0e0e0];
  font-family: "Roboto Slab", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-family: "Bebas Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h2 {
  @apply text-lg font-bold mb-1;
}
